.nav {
  background-color:rebeccapurple;
  color:#FFF;
  height:3rem;
  display:flex;
  justify-content: end;
  align-items: center;
  margin-bottom:2rem;
}

.nav > ul {
  list-style:none;
  display:flex;
  font-weight:bold;
  font-family:arial;
}
.nav>ul>li {
  margin-right:2rem;
}

.TodoItem {
  border-bottom: solid 1px lightgray;
  margin-bottom:2rem;
  padding-bottom:2rem;
}